@tailwind base;
@tailwind components;
@tailwind utilities;

p{
  font-size: 20px;
  font-weight: thin;
  text-wrap: center;
}
.custom-navbar {
  backdrop-saturate: unset !important;
  backdrop-blur: unset !important;
  background-opacity: unset !important;
  border: none !important;
}
.page-container[data-darkmode="true"] {
  background-color: black;
  color: white;
}

.page-container[data-darkmode="false"] {
  background-color: white;
  color: black;
}

.page-container[data-darkmode="true"] .btn-button {
  color: white;
  background-color: darkblue;
}

.page-container[data-darkmode="false"] .btn-button {
  color: black;
  background-color: lightblue;
}

/* this is try  */
/* .container {
  display: grid;
  grid-template-areas: "stack";
  width: 100%;
  max-width: 500px;
  height: 300px;
}

.box1, .box2 {
  grid-area: stack;
}

.box1 {
  background-color: yellow;
  height: 150px;
  width: 100px;
}

.box2 {
  background-color: rgba(255, 0, 0, 0.6); /* Semi-transparent red to see both layers */
/* } */

/* @media (max-width: 600px) {
  .container {
    height: auto; /* Adjust height for smaller screens */
  /* }
}  */